.about__description{
    float: left;
    width: 46.83333%;
    padding-left: 0.125em;
}

.about__skills{
    margin-top: 0.125em;
    float: right;
    width: 49.16667%;
}

@media screen and (max-width: 640px){
    .about__description{
        float: none;
        width: 100%;
        margin-bottom: 4rem;
    }

    .about__skills{
        float: none;
        width: 100%;
    }
}
