.banner{
    padding: 9.375em 0 3em;
    min-width: 100%;
    background-color: @main-color;
    text-align: center;
}

.banner__image{
    margin-right: 3.33333%;
    vertical-align: middle;
}

.banner__caption{
    text-align: left;
    line-height: 1.75;
    vertical-align: middle;
    display: inline-block;
    font-size: 4.6rem;
    font-style: italic;
    color: #fff;
}

@media screen and (max-width: 768px){
    .banner{
        padding: 3.875em 0 3em;
    }
    .banner__image{
        margin-right: 0;
        margin-bottom: 1.25em;
    }
    .banner__caption{
        width: 100%;
        text-align: center;
    }
}
