.menu{
    float:right;
    max-width: 600px;
    padding-top: 12px;
}

.menu__link{
    margin-right: 34px;
    &:last-child{
        margin-right: 0px;
    }
    &:hover{
        color: #0091be;
    }
}
