.hamburger__toggle{
    display: none;
    &:checked ~ .menu__list{
        width: 100%;
        float: right;
        display: block;
        text-align: center;
        .menu__list-item{
            font-size: 2.4rem;
            display:block;
            margin-right: 0;
            padding: 0.375em 0;
            border-top: #fad027 2px solid;
            &:last-child{
                margin-bottom: 0;
                border-bottom: #fad027 2px solid;
            }
        }
    }
}

@hamburger-icon-height: .8rem;

.hamburger__label {
    margin-top: 0.3em;
    float: right;
    height: 1em;
    width: 2.1875em;
    position: relative;
    background-color: transparent;
    border-bottom: @hamburger-icon-height solid;
    border-top: @hamburger-icon-height solid;
    border-color: @main-color;
    display: none;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        border-top: @hamburger-icon-height solid;
        border-color: inherit;
    }
}

@media screen and (max-width: 640px){
    .menu__list{
        display: none;
    }
    .hamburger__label{
        display: block;
    }
}

.menu__list{
    float: right;
    list-style: none;
    margin-top: 0.75em;
}

.menu__list-item{
    display: inline-block;
    margin-right: 2.125em;
    &:last-child{
        margin-right: 0px;
    }
}

.menu__link{
    &:hover{
        color: @main-color;
    }
}
