.sitename{
    float: left;
    width: 17.5rem;
}

.sitename__row{
    display: block;
}

.sitename__title{
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 1;
    letter-spacing: 0.0125em;
}

.sitename__caption{
    color: @main-color;
}
