.skill{
    margin-bottom: 26px;
    &:last-child{
        margin-bottom: 0px;
    }
}

.skill__title{
    font-size: inherit;
    margin-bottom: 13px;
}

.skill__bar{
    width: 590px;
    height: 30px;
    background-color: #eee;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.skill__value{
    text-indent: -9999px;
    height: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.skill__value_blue{
    background-color: #0091be;
}

.skill__value_green{
    background-color: #40c95d;
}

.skill__value_yellow{
    background-color: #d7d93f;
}

.skill__value_90pcnt{
    width: 90%;
}

.skill__value_85pcnt{
    width: 85%;
}

.skill__value_95pcnt{
    width: 95%;
}
