.section{
    margin-top: 3.0625em;
    padding-bottom: 3.4375em;
    box-shadow: inset #eee 0px -3px 3px 0;
}

.section__title{
    font-weight: normal;
    font-size: 3.5rem;
    padding-bottom: 0.42857143em;
    border-bottom: solid 0.02857143px #eee;
    margin-bottom: 1.28571429em;
}

@media screen and (max-width: 640px){
    .section__title{
        text-align: center;
    }
}
