* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}
@media screen and (max-width: 640px) {
  p {
    text-align: justify;
  }
}
/*Цвет при наведении на ссылку, задний фон баннера,
фона гамбургера*/
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.main-container {
  max-width: 1200px;
  min-width: 300px;
  padding: 0 0.625em;
  margin: auto;
}
.header {
  position: fixed;
  padding: 1.1875em 0 1.25em;
  border-bottom: 0.3125em solid #fad027;
  background-color: #fff;
  min-width: 100%;
}
@media screen and (max-width: 768px) {
  .header {
    position: static;
  }
}
.section {
  padding: 3.0625em 0;
}
.section__title {
  font-weight: normal;
  font-size: 3.5rem;
  padding-bottom: 0.42857143em;
  border-bottom: solid 0.02857143px #eee;
  margin-bottom: 1.28571429em;
}
@media screen and (max-width: 640px) {
  .section__title {
    text-align: center;
  }
}
.banner {
  min-width: 100%;
  background-color: #0091be;
  padding: 9.4375em 0 3em;
  text-align: center;
}
.banner__image {
  vertical-align: middle;
  margin-right: 3.33333333%;
}
.banner__caption {
  line-height: 1.5;
  vertical-align: middle;
  text-align: left;
  display: inline-block;
  font-size: 4.6rem;
  font-style: italic;
  color: #fff;
  width: 36.83333333333333%;
}
@media screen and (max-width: 768px) {
  .banner {
    padding-top: 3.875em;
  }
  .banner__image {
    margin-right: 0;
    margin-bottom: 1.25em;
  }
  .banner__caption {
    width: 100%;
    text-align: center;
  }
}
.about__description {
  float: left;
  width: 46.83333333333333%;
  padding-left: 0.125em;
  line-height: 2.3;
}
.about__skills {
  float: right;
  width: 49.16666666666667%;
}
@media screen and (max-width: 640px) {
  .about__description {
    float: none;
    width: 100%;
    margin-bottom: 4rem;
  }
  .about__skills {
    float: none;
    width: 100%;
  }
}
.skill {
  margin-bottom: 1.625em;
}
.skill:last-child {
  margin-bottom: 0px;
}
.skill__title {
  font-size: inherit;
  margin-bottom: 0.8215em;
}
.skill__bar {
  height: 1.875em;
  background-color: #eee;
  border-top-right-radius: 0.3125em;
  border-bottom-right-radius: 0.3125em;
}
.skill__value {
  text-indent: -9999px;
  height: inherit;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.skill__value_blue {
  background-color: #0091be;
}
.skill__value_green {
  background-color: #40c95d;
}
.skill__value_yellow {
  background-color: #d7d93f;
}
.documentation-value {
  width: 90%;
}
.design-value {
  width: 85%;
}
.mobile-value {
  width: 95%;
}
@media screen and (max-width: 640px) {
  .skill__title {
    text-align: center;
  }
}
.hamburger-toggle {
  display: none;
}
.hamburger-toggle:checked ~ .menu__list {
  float: none;
  font-size: 2.2rem;
  position: absolute;
  display: block;
  margin-top: 0;
  right: 0;
  top: 3.44791667em;
  padding: 1em;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.45) -2px 7px 6px 0px;
}
.hamburger-toggle:checked ~ .menu__list .menu__list-item {
  margin-bottom: 2em;
  display: block;
  margin-right: 0;
}
.hamburger-toggle:checked ~ .menu__list .menu__list-item:last-child {
  margin-bottom: 0;
}
.hamburger {
  margin-top: 0.3em;
  float: right;
  height: 1em;
  width: 2.1875em;
  position: relative;
  background-color: transparent;
  border-bottom: 0.8rem solid;
  border-top: 0.8rem solid;
  border-color: #0091be;
  display: none;
}
.hamburger:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-top: 0.8rem solid;
  border-color: inherit;
}
@media screen and (max-width: 640px) {
  .menu__list {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
.menu__list {
  float: right;
  list-style: none;
  margin-top: 0.75em;
}
.menu__list-item {
  display: inline-block;
  margin-right: 2.125em;
}
.menu__list-item:last-child {
  margin-right: 0px;
}
.menu__link:hover {
  color: #0091be;
}
.logo {
  float: left;
  width: 17.5rem;
}
.logo__title {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: 0.0125em;
}
.logo__caption {
  color: #0091be;
}
